.app-header {
  position: relative;
  background-color: #ffffff;
  padding-bottom: 10px;
  height: 55px;
  line-height: 55px;
  overflow: hidden;
  z-index: 2;
}

.app-logo {
  text-decoration: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 37px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #555555;
  display: block;
}

.app-logo-part1 {
  margin-right: 8px;
}

.app-logo-part2 {
  color: #4CAF50;
}


nav {
    padding: 10px 0;
    margin-bottom: 10px;
}

nav a {
    padding: 5px 10px;
    text-decoration: none;

    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
}
nav a:visited, a:link {
    color: #607D8B;
}
nav a:hover {
    color: #039be5;
    background-color: #CFD8DC;
}
nav a.active {
    color: #039be5;
}
